.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-column-gap: 0.5em;
  grid-template-areas: "a b c"
}

.side-1 {
  grid-area: a;
}

.content {
  grid-area: b;
}

.side-2 {
  grid-area: c;
}


/* etc: */

.grid-container > * {
  padding: 1em;
  background: #b3e888;
}
